.background {
    background-color: yellow;
  }

html {
    font-family: 'Courier New', Courier, monospace;
}

nav {
    position: fixed;
}

nav a {
    text-decoration: none;
    color: black;
}

#header-text {
    color: black;
    font-size: 30px;
    text-align: center;
    padding: 20px;
}

.intro-text {
    /*background-image: linear-gradient( #b4ffe5, blue);*/
    background-color: yellow;
    height: 12vh;
    padding: 10px;
    display: flex;
    font-size: 25px;
}

.container{
    display: inline-block;
    font-family: "Courier New";
    font-size: 24px;
}
  
.typed {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid;
    width: 0;
    animation: typing 2.5s steps(30, end) forwards, blinking 1s infinite;
}

#projects {
    display: flex;
    justify-content: center;
    align-content: space-between;
}
    
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blinking {
    0% {border-color: transparent}
    50% {border-color: black}
    100% {border-color: transparent}
}
  

section {
    background-color: yellow;
    padding: 40px;
}

.circle {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.row-1 {
    display: flex;
    justify-content: center;
}

.row-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1000px;
    margin: auto;
}

.row-2 .circle-col {
    display:flex;
    flex-direction:column;
    width:30%;
    align-items:center;
}

.center-img {
    width:50%;
    display:flex;
    justify-content:center;
    z-index:5;
}

.center-img img{
    height:500px;
    width:490px;
    border-radius:60%;
}

.grow:hover
{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.circle-link {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    
}

.circle-link a {
    color: white;
    font-size: 25px;
}

.page-links {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-color: yellow;
    height: 40vh;
    padding: 50px;
    font-size: 100px;
    text-align: center;
}

.fa {
    display: flex;
    justify-content: space-around;
    padding: 120px;
    font-size: 30px;
    width: 30px;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-github {
    color: black;
}

.fa-linkedin {
    color: black;
}

#form-background {
    background-color: black;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    color: yellow;
    max-width: auto;
    background-position: center;
}

form {
    width: auto;
    background-color: yellow;
}

.form-item {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
    color: black;
}

.form-item label {
    flex-basis: 150px;
    font-size: 22px;
}

.form-item input,
.form-item textarea {
    flex-basis: 50%;
    border: 2px solid #FDDC5C;
}

.form-item input:hover,
.form-item textarea:hover {
    border: 2px solid black;
}

.form-item input,
.form-item textarea,
.form-item button {
    border: 2px solid #FDDC5C;
    background-color: #FFF;
    padding: 5px;
    font-size: 18px;
}

.form-item button:hover {
    border: 2px solid black;
    background-color: black;
    color: #FFF;
}

.form-item button {
    width: 100px;
}

footer {
    text-align: center;
}

.center-icons {
    display: flex;
    column-gap: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* About-page*/

#about-text {
    text-align: center;
    font-size: 30px;
    padding: 50px;
    max-width: 1200px;
}

@media (max-width: 600px) {
    
    nav {
        font-size: 12px;
    }

    #header-text {
        font-size: 15px;
    }

    .circle {
        width: 90px;
        height: 90px;
        font-size: 10px;
        text-align: center;
    }

    .circle-link {
        width: 90px;
        height: 90px;
        font-size: 5px;
        text-align: center;
    }

    .intro-text {
        /*background-image: linear-gradient( #b4ffe5, blue);*/
        background-color: yellow;
        height: 20vh;
        padding: 50px;
    }

    .center-img {
        width:20%;
        display:flex;
        justify-content:center;
        z-index:5;
    }
        
    .center-img img{
        height:150px;
        width:150px;
        border-radius:40%;
    }

    /* About-page*/

    #about-text {
        text-align: center;
        font-size: 15px;
        padding: 6px;
    }

    #page-links {
        display:flex;
    }

    footer {
        font-size: 10px;
    }

}    

@media (min-width: 900px)  {

    #page-links {
        display: flex;
        align-items: center;
        justify-content: space-around;
        align-items: flex-end;
    }
}

/* Projects Page Styles CSS*/

a {
  align-items: center;
}

/* circle image hover effect */
* {
    box-sizing: border-box;
  }

  body {
    height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
    padding: 2rem;
  }

  .project-circle {
    position: relative;
    text-align: center;
  }
  
  .project-circle:hover img {
    filter: saturate(5px);
    transform: rotate(360deg);
    transition: transform .8s ease-in-out;
    cursor: pointer;
  }
  
  .project-circle img {
    transition: all .2s ease-in-out;
    max-width: 100vmin;
    max-height: 70vmin;
    border: 10px solid white;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2);
    border-radius: 100%;
  }